body {
	font-family: fantasy, helvetica, sans-serif;
}

.navbar-container {
	width: auto;
	padding: 25px 150px 25px 150px;
	border-bottom: 3px solid gray;
}

.navbar-container .viking-button{
	display: inline-block;
	float: left;
}

.navbar-container .cart-button{
	float: right;
}

.cart-button h2{
	vertical-align: middle;
	display: inline-block;
	padding-top: 8px;

}
.cart-button img{
	width: 25px;
	height: 15px;
	vertical-align: middle;
}

.main-content{
	margin: 6px auto;
}


.front-banner h2{
	font-size: 38px;
	text-align: center;
	padding-top: 12px;
	color: white;
	background-color: #333333;
}
.front-banner img{
	display: block;
	height: 500px;
	width: 1000px;
	margin: 5px auto;
}

.gray-box h3{
	font-size: 32px;
	display: block;
	text-align: center;
	padding-top: 12px;
}

.white-box h4 {
	font-size: 18px;
	display: block;
	text-align: center;
	padding-top: 12px;
}

.shopping-square-container {
	width: auto;
	height: auto;
	padding-top: 12px;
}

.the-silent-night {
	display: inline-block;
	height: 360px;
	width: 290px;
	border: 5px solid gray;
	margin-left: 222px;
	background-color: #333333;
}

.the-dainty-daisy {
	display: inline-block;
	height: 360px;
	width: 290px;
	border: 5px solid gray;
	margin-left: 40px;
	background-color: #333333;
}

.the-double-trouble {
	display: inline-block;
	height: 360px;
	width: 290px;
	border: 5px solid gray;
	margin-left: 40px;
	background-color: #333333;
}

.the-whispering-wind {
	display: inline-block;
	height: 360px;
	width: 290px;
	border: 5px solid gray;
	margin-top: 22px;
	margin-left: 222px;
	background-color: #333333;
}

.the-cunning-cutter {
	display: inline-block;
	height: 360px;
	width: 290px;
	border: 5px solid gray;
	margin-left: 40px;
	background-color: #333333;
}

.the-king-maker {
	display: inline-block;
	height: 360px;
	width: 290px;
	border: 5px solid gray;
	margin-left: 40px;
	background-color: #333333;
}

.the-silent-night img{
	height: 250px;
	width: 250px;
	margin-left: 18px;
}

.the-dainty-daisy img{
	height: 250px;
	width: 250px;
	margin-left: 20px;
}

.the-double-trouble img{
	height: 250px;
	width: 250px;
	margin-left: 22px;
}

.the-whispering-wind img{
	height: 250px;
	width: 250px;
	margin-left: 22px;
}

.the-cunning-cutter img{
	height: 250px;
	width: 250px;
	margin-left: 20px;
}

.the-king-maker img{
	height: 250px;
	width: 250px;
	margin-left: 22px;
}

.the-silent-night h4 {
	font-size: 16px;
	padding-top: 8px;
	margin: 6px;
	text-align: center;
	color: white;
}

.the-dainty-daisy h4 {
	font-size: 16px;
	padding-top: 8px;
	margin: 6px;
	text-align: center;
	color: white;
}

.the-double-trouble h4 {
	font-size: 16px;
	padding-top: 8px;
	margin: 6px;
	text-align: center;
	color: white;
}

.the-whispering-wind h4 {
	font-size: 16px;
	padding-top: 8px;
	margin: 6px;
	text-align: center;
	color: white;
}

.the-cunning-cutter h4 {
	font-size: 16px;
	padding-top: 8px;
	margin: 6px;
	text-align: center;
	color: white;
}

.the-king-maker h4 {
	font-size: 16px;
	padding-top: 8px;
	margin: 6px;
	text-align: center;
	color: white;
}


.price-tag h5{
	text-align: center;
	color: white;
	height: 14px;
	padding: 4px;
	margin: 2px 2px;
}

.price-tag2 h5{
	text-align: center;
	color: white;
	height: 14px;
	padding: 4px;
	margin: 2px 2px;
}

.price-tag3 h5{
	text-align: center;
	color: white;
	height: 14px;
	padding: 4px;
	margin: 2px 2px;
}

.price-tag4 h5{
	text-align: center;
	color: white;
	height: 14px;
	padding: 4px;
	margin: 2px 2px;
}

.price-tag5 h5{
	text-align: center;
	color: white;
	height: 14px;
	padding: 4px;
	margin: 2px 2px;
}

.price-tag6 h5{
	text-align: center;
	color: white;
	height: 14px;
	padding: 4px;
	margin: 2px 2px;
}




.cta-button h4 {
	background-color: #f6b26b;
	color: #333333;
}













