body {
	font-family: fantasy, helvetica, sans-serif;
}

.navbar-container {
	width: auto;
	padding: 25px 150px 25px 150px;
	border-bottom: 1px solid gray;
}

.navbar-container .viking-button{
	display: inline-block;
}

.navbar-container .cart-button{
	display: inline-block;
	float: right;
}

.cart-button h2{
	vertical-align: middle;
	display: inline-block;

}
.cart-button img{
	width: 25px;
	height: 15px;
	vertical-align: middle;
}

.main-content{
	margin: 30px auto;
}


.front-banner h2{
	font-size: 38px;
	text-align: center;
	padding-top: 12px;
	color: white;
	background-color: #7851a9;
}
.front-banner img{
	display: block;
	height: 500px;
	width: 1000px;
	margin: 5px auto;
}

.gray-box h3{
	font-size: 32px;
	display: block;
	text-align: center;
	padding-top: 12px;
}

.white-box h4 {
	font-size: 18px;
	display: block;
	text-align: center;
	padding-top: 12px;
}

